body{
    background-color: #E9EFEC;
}


.navbar{
    background-color: #16a085 !important;
}
.navbar .nav-link{
    color: white !important;
    font-size: 17px !important;
}

.title{
    text-align: center;
    padding-top: 40px;
}
.buttonchos{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.date{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.prayert{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.prayert ul{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.prayert li{
    margin: 15px 0;
}

.prayert li:nth-child(1) {
    background-color: #16a085;

  }

  .prayert li:nth-child(2) {
    background-color: #6A9C89;
  }

  .prayert li:nth-child(3) {
    background-color: #16a085;

  }

  .prayert li:nth-child(4) {
    background-color: #6A9C89;


  }

  .prayert li:nth-child(5) {
    background-color: #16a085;

  }

  .prayert li:nth-child(6) {
    background-color: #6A9C89;


  }

  .prayert li:nth-child(7) {
    background-color: #16a085;

  }

  .prayert li:nth-child(8) {
    background-color: #6A9C89;


  }

  .prayert li:nth-child(9) {
    background-color: #16a085;

  }

  .prayert li:nth-child(10) {
    background-color: #6A9C89;


  }

  .prayert li:nth-child(11) {
    background-color: #16a085;

  }


.button-37 {
    background-color: #16a085 ;
    border: 1px solid #16a085;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 20%;
    height: 20%;
  }
  
  .button-37:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
  }



  @media only screen and (max-width: 600px) {
    .button-37 {
        width: 50%;
      }
      .buttonchos{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 90px;
        gap: 10px;
      }
      .prayert{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 8px;
        
    }
    .prayert ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .prayert li:nth-child(1) {
        background-color: #16a085;
    
      }
    
      .prayert li:nth-child(2) {
        background-color: #6A9C89;
      }
    
      .prayert li:nth-child(3) {
        background-color: #16a085;
    
      }
    
      .prayert li:nth-child(4) {
        background-color: #6A9C89;
    
    
      }
    
      .prayert li:nth-child(5) {
        background-color: #16a085;
    
      }
    
      .prayert li:nth-child(6) {
        background-color: #6A9C89;
    
    
      }
    
      .prayert li:nth-child(7) {
        background-color: #16a085;
    
      }
    
      .prayert li:nth-child(8) {
        background-color: #6A9C89;
    
    
      }
    
      .prayert li:nth-child(9) {
        background-color: #16a085;
    
      }
    
      .prayert li:nth-child(10) {
        background-color: #6A9C89;
    
    
      }
    
      .prayert li:nth-child(11) {
        background-color: #16a085;
    
      }
  }